/*Создаем переменные*/
:root{
    --black-bkg: #222222;
    --black-color: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F16D7F;
    --sales-bkg: #4e4544;
    --sub-title: #9F9F9F;
    --card-bkg: #F8F8F8;
    --card-color: #5D5D5D;
    --button-color: #F26376;

}
/*Для тега body прописываем наиболее распространеные стили*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}
/*Патерн для скрытия объекта, но он останется виден поясковых машинам*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header{
    background-color: var(--black-bkg);
}

.conteiner{
    width: 1140px;
    margin: 0 auto;
}

.header__wrp{
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
}

.header__manu-list{
    display: flex;
    align-items: center;
}

.header__logo{
    margin: 0 41px 0 0;
}

.header__burger{
    border: none;
    background: transparent;
}
.header__link{
    margin: 0 0 0 33px;
}

.header__nav{
    display: none;
}

.brand{
    display: flex;
    background-color: var(--pink-bkg);
    align-items: center;
}

.brand__img{
    width: 800px;
}

.brand__title{
    font-weight: 900;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    margin-left: 92px;
    color: var(--black-color);
}

.brand__title-lower{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: block;
}

.brand__title-pink{
    color: var(--pink-color);
}

.sales{
    margin-top: 65px;
}
.sales__list{
    display: flex;
    flex-direction: column;
}

.sales__item-wpr{
    display: flex;
    justify-content: space-between;
}

.sales__item{
    width: 360px;
    height: 260px;
    background-color: var(--sales-bkg);
}

.sales__item--woman{
    background-image: url(../img/woman-sales.jpg);
}

.sales__item--man{
    background-image: url(../img/man-sales.jpg);
}

.sales__item--kids{
    background-image: url(../img/kids-sales.jpg);
}

.sales__item--shoes{
    width: 1140px;
    background-image: url(../img/accesories-sales.jpg);
    margin-top: 30px;
}

.sales__item-title{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 105px;
    font-weight: 400; /*Пришлось прописать в классе, из body не работает*/
}

.sales__item-text{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: var(--pink-color);
}

.poducts{
    margin-top: 96px;
}

.products__title{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-align: center;
    text-transform: capitalize;
    color: var(--black-color);
}

.products__sub-title{
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-align: center;
    text-transform: capitalize;
    color: var(--sub-title);
    margin-top: 6px;
}

.products__list{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item{
    width: 360px;
    margin-bottom: 30px;
    background-color: var(--card-bkg);
}

.products__item-title{
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    margin: 24px 18px 0 18px;
}

.products__item-text{
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    color: var(--card-color);
    margin: 12px 18px 0 18px;
}

.products__item-price{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: var(--button-color);
    margin: 18px;
}

.products__button-wpr{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.products__button{
    height: 47px;
    width: 211px;
    border: 1px solid #FF6A6A;
    background: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: var(--button-color);
    text-transform: capitalize;
}





