@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Black.eot');
    src: url('../font/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Black.woff2') format('woff2'),
        url('../font/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Italic.eot');
    src: url('../font/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Italic.woff2') format('woff2'),
        url('../font/Lato-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Bold.eot');
    src: url('../font/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Bold.woff2') format('woff2'),
        url('../font/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Light.eot');
    src: url('../font/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Light.woff2') format('woff2'),
        url('../font/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.eot');
    src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Regular.woff2') format('woff2'),
        url('../font/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}