.carousel-block {
    height: 777px;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

.carousel-block__bootstrap {
    width: 597px;
    margin: 0 auto;
}

.carousel-block__item {
    width: 100%;
}

.carousel-block__img {
    width: 597px;
    height: 724px;
    margin: 0 auto;
}