.quote__wpr {
    background-image: url(../img/footer-bkg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.quote {
    display: flex;
    justify-content: space-between;
}

.quote__wrapper {
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 448px;
    justify-content: center;
}

.quote__wrapper-img {
    width: 96px;
    margin: 0 auto;
}

.quote__wrapper-text {
    @include font(20px, 24px);
    /*
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    */
    text-align: center;
    color: $sub-black-color;
    width: 360px;
    margin-top: 30px;
}

.quote__wrapper-text--italic {
    font-style: italic;
}

.quote__wrapper-title {
    @include font(24px, 38px, 700);
    /*
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    */
    text-align: center;
    text-transform: uppercase;
    color: $sub-black-color;
}

.quote__wrapper-sub-title {
    @include font(18px, 30px);
    /*
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    */
    text-align: center;
    text-transform: uppercase;
    color: $sub-black-color;
}

.quote__wrapper-form {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.quote__wrapper-form-email {
    width: 256px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px 0 0 25px;
    border: none;
    background-color: #E1E1E1;
    padding-left: 22px;
    @include font();
    /*
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    */
    color: $sub-black-bkg;
}

.quote__wrapper-form-email:hover {
    outline: 1px solid $white-color-hover;
}

.quote__wrapper-form-email:focus {
    outline: 1px solid red;
}

.quote__wrapper-form-button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: $pink-color;
    @include font();
    /*
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    */
    color: $white-color;
    cursor: pointer;
}

.quote__wrapper-form-button:hover,
.quote__wrapper-form-button:focus {
    background: #FF6A6A;
    color: $white-color;
}

.quote__wrapper-form-button:active {
    opacity: 0.5;
}